@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .red-glow {
    text-shadow: 0px 0px 8px hsla(300, 98%, 60%, 0.6);
  }

  .button {
    transition: border 120ms ease 0s, background-color, color, box-shadow, opacity;
  }

  .primary-button-hover {
      text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
      box-shadow: rgba(253, 52, 88, 0.6) 0px 1px 40px;
  }
}