.ce-block--selected .ce-block__content,
.ce-inline-toolbar,
.codex-editor--narrow .ce-toolbox,
.ce-conversion-toolbar,
.ce-settings,
.ce-settings__button,
.ce-toolbar__settings-btn,
.cdx-button,
.ce-popover,
.ce-popover__item-icon,
.ce-code__textarea,
.tc-popover,
.cdx-input,
.link-tool__content,
.link-tool__content--rendered,
.ce-code__textarea,
.cdx-input,
.ce-toolbar__plus:hover {
    /* position: relative; */
    @apply dropdown !important;
    color: inherit;
}

.ce-inline-tool,
.ce-conversion-toolbar__label,
.ce-toolbox__button,
.cdx-settings-button,
.ce-toolbar__plus {
    color: inherit;
}

::selection {
    background: #2b2b3c;
}

.cdx-settings-button:hover,
.ce-settings__button:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-button:hover,
.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover__item:hover,
.ce-toolbar__settings-btn:hover {
    background-color: #2b2b3c;
    color: inherit;
}

.cdx-notify--error {
    background: #fb5d5d !important;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
    background: white;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
    background: white;
}

.ce-popover__item:hover:not(.ce-popover__item--no-visible-hover) {
    @apply brightness-200;
    background-color: rgba(29, 30, 43, 0.498);
}

.cdx-search-field,
.ce-code__textarea {
    @apply bg-palette-400 border-palette-300 placeholder:text-placeholder hover:border-slate-600 text-white focus:border-fuchsia-500;
}

.link-tool {
    @apply bg-palette-400;
}

.ce-header,
.link-tool__title {
    @apply text-brandtext-500;
}

.link-tool__description,
.link-tool__anchor {
    @apply text-brandtext-600 !important;
}
